<div class="row">
  <section class="main col-md-9">
    <article>
      <hr />
      <h2>Post Title</h2>
      <img src="https://dummyimage.com/847x320/d9d9d9/545454.jpg" alt="feature Image" style="width:100%" />
      <br /><br />
      
      <br /><br />
      <strong>Category:</strong> 1<br />
      <strong>Last Updated:</strong> 2022-11-04
    </article>
  </section>
  <aside class="col-md-3">
    <br /><br />
    <h4>Posts</h4>
    <ul class="list-group">
      <a href="#" class="list-group-item">Posts 1-30</a>
    </ul>
    <h4>Categories</h4>
    <ul class="list-group">
      <a href="#" class="list-group-item">1 Technology</a>
      <a href="#" class="list-group-item">2 Gaming</a>
      <a href="#" class="list-group-item">3 Fashion</a>
      <a href="#" class="list-group-item">4 Education</a>
      <a href="#" class="list-group-item">5 Wellness</a>

    </ul>
  </aside>
</div>
